<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <style>
        body{
            background-image: url('img/bg1.jpg');
            background-size: cover;
        }
    </style>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar navBar">

        <a class="navbar-brand" href="loadingPage.html"><img class="img-logo" src="img/bbbb.png" alt="logo"></a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-end nav-items" id="navbarToggler">
  
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link" href="#about">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#project">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><button class="my-btn">login</button></a>
            </li>
          </ul>
  
        </div>
  
    </nav>

    <section class="home-section">
        <div class="home-container row">
            <div class="home-left col-md-6">
                <img src="img/home-illust.png" alt="home-illust">  
            </div>
            <div class="home-right col-md-6">
                <h2>Howdy!</h2>
                <h1>Don't know where to start?</h1>
                <h2 class="start">Start Right Here</h2>
            </div>
        </div>
    </section>
    
    
     
</body>
</html>